@import "tailwindcss";




:root {
  /* 🎨 Brand Colors */
  --primary: #D32F2F;
  --secondary: #388E3C;
  --tertiary: #00799C;

  /* ⚫ Neutral */
  --neutral-900: #212121;
  --neutral-700: #4B4B4B;
  --neutral-500: #777777;
  --neutral-300: #D9D9D9;


  --bg: #F3F1F1;
  --card: #EDE9E9;

  /* ✍️ Fonts */
 --font-ibm-plex: "IBM Plex Sans", sans-serif;
}

/* =========================
   BASE STYLES
========================= */

html, body {
  height: 100%;
  background-color: var(--bg);
  color: var(--neutral-900);
  font-family: var(--font-main), sans-serif;
}

/* =========================
   UTILITY HELPERS
========================= */

.card {
  background: var(--card);
  border-radius: 16px;
  padding: 16px;
}

.btn-primary {
  background: var(--primary);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
}

.btn-secondary {
  background: var(--secondary);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
}

.btn-outlined {
  border: 1px solid var(--neutral-300);
  padding: 10px 16px;
  border-radius: 10px;
  background: transparent;
}


/* ======================
   CONTAINER SYSTEM
====================== */
.container-custom {
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 1024px) {
  .container-custom {
    padding-left: 15%;
    padding-right: 15%;
  }
}